<main *ngIf="page;else loading"
  class="page"
  [attr.data-theme]="settings.themeActiveColour">
  <app-primary-nav></app-primary-nav>
  <!-- <h1 contenteditable [innerHTML]="page.title"></h1> -->
  <h1><input
    [disabled]="settings.mode == 'view'"
    type="text"
    class="plain"
    [(ngModel)]="page.title"
    (blur)="savePage()"/></h1>
  <div class="sections">
    <app-section *ngFor="let section of page.sections"
      [section]="section"
      [sectionsInPage]="page.sections.length"
      (moveUp)="moveSectionUp(section)"
      (moveDown)="moveSectionDown(section)"
      (remove)="removeSection(section)">
    </app-section>
  </div>
  <button (click)="addSection()" class="icon add horizontal">
      <i class="material-icons">add</i></button>
  <!-- <button (click)="removeLastSection()">-</button> -->
</main>
<ng-template #loading>
  <h1 class="subtle">Loading&hellip;</h1>
</ng-template>
