<app-primary-nav></app-primary-nav>
<main class="page"
    [attr.data-theme]="theme">
  <h1>{{ page.title }}</h1>
  <div class="sections">
    <app-section *ngFor="let section of page.sections"
      [section]="section"
      (moveUp)="moveSectionUp(section)"
      (moveDown)="moveSectionDown(section)"
      (removeSection)="removeSection(section)">
    </app-section>
  </div>
  <button (click)="changeTheme()">Theme</button>
  <button (click)="addSection()" class="icon">
      <i class="material-icons">add</i></button>
  <!-- <button (click)="removeLastSection()">-</button> -->
</main>
