<main class="page"
    [attr.data-theme]="settings.themeActiveColour">
  <app-primary-nav></app-primary-nav>
  <!-- <h1 contenteditable [innerHTML]="page.title"></h1> -->
  <h1><input
    type="text"
    class="plain"
    [(ngModel)]="page.title"
    (blur)="savePage()"/></h1>
  <div class="sections">
    <app-section *ngFor="let section of page.sections"
      [section]="section"
      [sectionsInPage]="page.sections.length"
      (moveUp)="moveSectionUp(section)"
      (moveDown)="moveSectionDown(section)"
      (removeSection)="removeSection(section)">
    </app-section>
  </div>
  <button (click)="addSection()" class="icon">
      <i class="material-icons">add</i></button>
  <!-- <button (click)="removeLastSection()">-</button> -->
</main>
