<div class="group">
  <app-block *ngFor="let block of group.blocks"
    [block]="block"
    [blocksInGroup]="group.blocks.length"
    (moveUp)="moveBlockUp(block)"
    (moveDown)="moveBlockDown(block)"
    (removeBlock)="removeBlock(block)">
  </app-block>
  <button (click)="addBlock()" class="icon">
    <i class="material-icons">add</i></button>
  <!-- <button (click)="removeLastBlock()">-</button> -->
  <button (click)="removeSelf()" class="remove icon">
    <i class="material-icons">close</i></button>

  <div *ngIf="groupsInSection > 1">
    <button (click)="left()" class="icon"><i class="material-icons">arrow_back</i></button>
    <button (click)="right()" class="icon"><i class="material-icons">arrow_forward</i></button>
  </div>
</div>
