<div class="block line"
  [ngClass]="{'active': isActive}">

  <hr/>

  <div *ngIf="blocksInGroup > 1">
    <button (click)="up()" class="icon move up"
      (mouseenter)="toggleActive(true)" (mouseleave)="toggleActive(false)">
      <i class="material-icons">arrow_upward</i></button>
    <button (click)="down()" class="icon move down"
      (mouseenter)="toggleActive(true)" (mouseleave)="toggleActive(false)">
      <i class="material-icons">arrow_downward</i></button>
  </div>
  <button class="remove icon"
    (click)="removeSelf()"
    (mouseenter)="toggleActive(true)"
    (mouseleave)="toggleActive(false)">
    <i class="material-icons">close</i></button>
</div>
