// Blue
$blue: #1e6c93;
.swatch[data-colour="blue"] {
  background-color: $blue;
}
.page[data-theme="blue"] {
  app-primary-nav {
    background-color: $blue;
    color: white;

    a {
      color: inherit;
    }
  }
  section {
    &[data-colourStyle=""],
    &[data-colourStyle="default"],
    &[data-colourStyle="emphasis1"] {
      h1, h2 {
        color: $blue;
      }
    }
    &[data-colourStyle=""],
    &[data-colourStyle="default"] {
    }
    &[data-colourStyle="emphasis1"] {
      background: #f2f2f2; // pale grey
    }
    &[data-colourStyle="emphasis2"] {
      background: $blue;
    }
  }
}
