// Blue
.page[data-theme="blue"] {
  section {
    &[data-colourStyle=""],
    &[data-colourStyle="default"],
    &[data-colourStyle="emphasis1"] {
      h1, h2 {
        color: #1e6c93; // blue
      }
    }
    &[data-colourStyle=""],
    &[data-colourStyle="default"] {
    }
    &[data-colourStyle="emphasis1"] {
      background: #f2f2f2; // pale grey
    }
    &[data-colourStyle="emphasis2"] {
      background: #1e6c93; // blue
    }
  }
}
