// Green
$green: #138275;
.swatch[data-colour="green"] {
  background-color: $green;
}
.page[data-theme="green"] {
  app-primary-nav {
    background-color: $green;
    color: white;

    a {
      color: inherit;
    }
  }
  section {
    &[data-colourStyle=""],
    &[data-colourStyle="default"],
    &[data-colourStyle="emphasis1"] {
      h1, h2 {
        color: $green;
      }
    }
    &[data-colourStyle=""],
    &[data-colourStyle="default"] {
    }
    &[data-colourStyle="emphasis1"] {
      background: #f2f2f2; // pale grey
    }
    &[data-colourStyle="emphasis2"] {
      background: $green;
    }
  }
}
