.hidden {
  display: none;
}
.subtle {
  font-size: 0.85em;
  color: grey;
  font-style: italic;
}


/* -----------------------------------------------------------------------------
 *                                                      Menus & tabs
 */
.tabs,
[role="tablist"],
.menu {
  margin: 0;
  padding-left: 0;

  li {
    list-style-type: none;
    display: inline-block;

    a {
      text-decoration: none;
    }
  }
}
.tabs,
[role="tablist"] {
  li a,
  li button {
    border-width: 3px 0;
    border-style: solid;
    border-color: transparent;
    padding: 0.5em 1em;
    display: block;

    &:hover,
    &:focus {
      border-bottom-color: rgba(white, 0.4);
    }
    &[aria-selected="true"] {
      border-bottom-color: rgba(white, 1);
    }
    & > * {
      display: block;
    }
  }
}
section[role="tabpanel"]:not([aria-selected="true"]) {
  display: none;
}


/* -----------------------------------------------------------------------------
 *                                                      Structure components
 */
.section,
.group,
.block {
  position: relative;

  [data-mode="edit"] & {
    border: solid 2px transparent;

    &.active {
      border: solid 2px #c32121; // colour: red
    }
  }
}
.section {
  [data-mode="edit"] & {
    border-bottom: dotted 1px grey;
  }
}

app-section {
  display: block;
}
.block,
.group {
}
.group {
  [data-mode="edit"] & {
    padding-top: 20px;
  }
}
.block {
  [data-mode="edit"] & {
    border-bottom: dotted 1px gray;
  }

  &.image {}
  &.line {
    padding-top: 20px;
  }
}


/* -----------------------------------------------------------------------------
 *                                                      CKEditor WYSiWYG editor
 */
.ck-toolbar {
  button {
    box-shadow: none;
  }
}
