.hidden,
[aria-hidden] {
  display: none;
}
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
.subtle {
  font-size: 0.85em;
  color: grey;
  font-style: italic;
}


/* -----------------------------------------------------------------------------
 *                                                      Menus & tabs
 */
.tabs,
[role="tablist"],
.menu {
  margin: 0;
  padding-left: 0;
  display: flex;

  li {
    flex: 1 1 auto;
    margin: 0;
    list-style-type: none;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
.tabs,
[role="tablist"] {
  li a,
  li button {
    border-width: 3px 0;
    border-style: solid;
    border-color: transparent;
    padding: 0.5em 1em;
    display: block;
    height: 100%;
    box-sizing: border-box;

    &:hover,
    &:focus {
      border-bottom-color: rgba(white, 0.4);
    }
    &[aria-selected="true"] {
      border-bottom-color: rgba(white, 1);
    }
    & > * {
      display: block;
    }
  }
}
section[role="tabpanel"] {
  padding-left: 10px;
  padding-right: 10px;

  &:not([aria-selected="true"]) {
    display: none;
  }
}


/* -----------------------------------------------------------------------------
 *                                                      Primary nav
 */
app-primary-nav {
  ul {
    li {
      // Second level
      ul {
        padding-left: 0;
        position: absolute;
        background: grey;
        display: none;
      }
      &:hover ul,
      &:focus ul {
        display: block;
      }
    }
  }
}


/* -----------------------------------------------------------------------------
 *                                                      Structure components
 */
.section,
.group,
.block {
  position: relative;

  [data-mode="edit"] & {
    border: solid 2px transparent;

    &.active {
      border: solid 2px #c32121; // colour: red
    }
  }
}
.section {
  [data-mode="edit"] & {
    border-bottom: dotted 1px grey;
  }
}

app-section {
  display: block;
}
.block,
.group {
}
.group {
  [data-mode="edit"] & {
    padding-top: 20px;
  }
}
.block {
  [data-mode="edit"] & {
    border-bottom: dotted 1px gray;
  }

  &.image {}
  &.line {
    padding-top: 20px;
  }
}


/* -----------------------------------------------------------------------------
 *                                                      CKEditor WYSiWYG editor
 */
.ck-toolbar {
  button {
    box-shadow: none;
  }
}
.ck {
  .ck.ck-balloon-panel {
  // Somehow this is overridden when using this custom build
    position: absolute !important;
  }
  button {
    text-transform: inherit;
  }
  .ck.ck-link-form {
    background: white;
    padding: 4px;
  }
  .cd.ck-editor__editable_inline > :last-child {
    margin-bottom: 0.3em;
  }
  .cd.ck-editor__editable_inline > :first-child {
    margin-top: 0.3em;
  }
}