body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button {
  border: none;
  box-shadow: none;
  background: white;
  padding: 0.5em 0.8em;
  box-shadow: 1px 1px 3px rgba(black, 0.24);
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background: #3f51b5; // blue
    color: white;
  }
}
button.icon {
  padding: 0;
  line-height: 1;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  background: none;
  box-shadow: none;

  &:hover {
    background: rgba(black, 0.05);
    color: inherit;
  }
}
.material-icons {
  vertical-align: middle;
}

button.colour {
  position: absolute;
  bottom: 2px;
  left: 2px;
}
button.remove {
  position: absolute;
  top: 2px;
  right: 2px;
}
button.add {
  padding: 1em;
  display: block;
  border: solid 0 #d1d1d1;
  box-sizing: border-box;
  height: auto;
  width: auto;
  border-radius: 0;

  &.horizontal {
    width: 100%;
    text-align: center;
    border-top-width: 1px;
  }
  &.vertical {
    border-left-width: 1px;
  }
}

input.plain {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

app-page {
  flex: 1 1 auto;
}

.section,
.group,
.block {
  &.active {
    border: solid 2px #c32121; // colour: red
  }
}

$temp-border: none; // dotted 2px lightgrey;
app-section {
  display: block;
  border-bottom: $temp-border;
  &:first-of-type {
    border-top: $temp-border;
  }
  // &:hover {
  //   border-style: solid;
  //   border-color: #4285f4; // colour: blue
  //   border-width: 2px 0;
  // }
}
.block,
.group {
  // background: rgba(0, 0, 0, 0.07);
  border: $temp-border;

  // &:hover {
  //   border: solid 2px #4285f4; // colour: blue
  // }
}
.subtle {
  font-size: 0.85em;
  color: grey;
  font-style: italic;
}

.tabs,
.menu {
  margin: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }
}
.tabs {
  li {
    border-width: 3px 0;
    border-style: solid;
    border-color: transparent;

    &[aria-selected="true"] {
      border-bottom-color: rgba(white, 1);
    }
    & > * {
      display: block;
      padding: 0.5em 1em;
    }
  }
}

/* -----------------------------------------------------------------------------
 *                                                      Forms
 */
label:first-child {
  display: inline-block;
  min-width: 150px;

  &::after {
    content: ": ";
  }
}
textarea,
input[type="text"],
input[type="password"] {
  padding: 0.4em 0.6em;
  margin: 0.4em 0.6em 0.4em 0;
  background: none;
  border: solid 1px #cbcbcb;
  background: whitesmoke;
  border-radius: 4px;
}
select {
  margin: 0.4em 0.6em 0.4em 0;
}
details {
  border: solid 1px #cbcbcb;
  border-radius: 6px;
  padding: 1.5em;
  margin: 20px auto;

  summary {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.6em;
  }
}
.prefix {
  margin-right: 0.2em;
}

/* -----------------------------------------------------------------------------
 *                                                      CKEditor WYSiWYG editor
 */
.ck-toolbar {
  button {
    box-shadow: none;
  }
}
