body {
  color: #3e3e3e;
  margin: 0;
}

input.plain {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

app-page {
  flex: 1 1 auto;
}

hr {
  border: solid 1px #dadada; // pale grey
  border-width: 0 0 1px;
}

a {
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}
li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
details {
  border: solid 1px #cbcbcb;
  border-radius: 6px;
  padding: 1.5em;
  margin: 20px auto;

  summary {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.6em;
    cursor: pointer;

    h1, h2, h3, h4 {
      display: inline-block;
      margin: 0;
    }
  }
}


/* -----------------------------------------------------------------------------
 *                                                      Headings
 */
h1, h2, h3 {
  line-height: 1.1em;

  input[type="text"] {
    border: none;
    background: none;
    padding: 0;
  }
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}


/* -----------------------------------------------------------------------------
 *                                                      Buttons
 */
button {
  border: none;
  box-shadow: none;
  background: white;
  padding: 0.5em 0.8em;
  box-shadow: 1px 1px 3px rgba(black, 0.24);
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: #3f51b5; // blue
    color: white;
  }
}
button.icon {
  padding: 0;
  line-height: 1;
  min-width: 2em;
  min-height: 2em;
  vertical-align: middle;
  background: none;
  box-shadow: none;

  &:hover,
  &:focus {
    background: rgba(black, 0.05);
    color: inherit;
  }
}
.material-icons {
  vertical-align: middle;
}

button.colour {
  position: absolute;
  bottom: 2px;
  left: 2px;
}
main button.remove {
  position: absolute;
  top: 2px;
  right: 2px;
}
button.add {
  padding: 1em;
  display: block;
  border: solid 0 #d1d1d1;
  box-sizing: border-box;
  height: auto;
  width: auto;
  border-radius: 0;

  &.horizontal {
    width: 100%;
    text-align: center;
    // border-top-width: 1px;
  }
  &.vertical {
    border-left-width: 1px;
  }
}
[data-mode="view"] {
  button.add,
  button.remove,
  button.move,
  button.colour {
    display: none;
  }
}


/* -----------------------------------------------------------------------------
 *                                                      Forms
 */
label:first-child {
  display: inline-block;
  min-width: 150px;
  margin-right: 0.5em;

  &::after {
    content: ": ";
  }
}
textarea,
input[type="text"],
input[type="password"] {
  padding: 0.4em 0.6em;
  margin: 0.4em 0.6em 0.4em 0;
  background: none;
  border: solid 1px #cbcbcb;
  background: whitesmoke;
  border-radius: 4px;
  max-width: 100%;
  box-sizing: border-box;
}
select {
  margin: 0.4em 0.6em 0.4em 0;
}
// Field prefix (eg. $)
.prefix {
  margin-right: 0.2em;
}
