<div *ngIf="group"
  class="group"
  [ngClass]="{'active': isActive}">
  <app-block *ngFor="let block of group.blocks"
    [block]="block"
    [blocksInGroup]="group.blocks.length"
    (moveUp)="moveBlockUp(block)"
    (moveDown)="moveBlockDown(block)"
    (remove)="removeBlock(block)">
  </app-block>
  <button (click)="addBlock()" class="icon add horizontal">
    <i class="material-icons">add</i></button>
  <!-- <button (click)="removeLastBlock()">-</button> -->
  <button class="remove icon"
    (click)="removeSelf()"
    (mouseenter)="toggleActive(true)"
    (mouseleave)="toggleActive(false)">
    <i class="material-icons">close</i></button>

  <div *ngIf="groupsInSection > 1">
    <button (click)="up()" class="icon"><i class="material-icons">arrow_back</i></button>
    <button (click)="down()" class="icon"><i class="material-icons">arrow_forward</i></button>
  </div>
</div>
