<header>
  <div role="presentation">
    <p class="es-title">Easy Sites</p>
    <ul class="appMode tabs">
      <li [attr.aria-selected]="settings.mode === 'edit'">
        <button (click)="changeMode('edit')">
          <i class="material-icons">edit</i></button></li>
      <li [attr.aria-selected]="settings.mode === 'view'">
        <button (click)="changeMode('view')">
          <i class="material-icons">play_arrow</i></button></li>
      <li><a href="settings">
        <i class="material-icons">settings</i></a></li>
    </ul>
    <div class="user">
      <div *ngIf="settings.currentUserName; else anon">{{ settings.currentUserName }}</div>
      <ng-template #anon>
        <a target="_blank"
          href="{{ settings.backendBaseUrl }}{{ settings.backendLoginPagePath }}">
          Not logged in</a>
      </ng-template>
    </div>
  </div>
</header>
<div id="main-and-sidebar" [attr.data-mode]="settings.mode">
  <router-outlet></router-outlet>
  <aside>
    <h2>Pages</h2>
    <app-pages-list></app-pages-list>

    <hr>
    <app-theme-selector></app-theme-selector>

    <hr>
    <p><button (click)="exportData()">
      <i class="material-icons">archive</i>
      Export data</button></p>
    <p id="saveState" class="subtle">{{ httpService.currentState }}</p>
  </aside>
</div>
