<link [attr.href]="'https://fonts.googleapis.com/css' + state.font.url | safe: 'resourceUrl'" rel="stylesheet">
<header [attr.data-font]="state.font.id">
  <div role="presentation">
    <p class="es-title">Easy Sites</p>

    <div *ngIf="state.inDemoMode" class="demo-badge">
      <strong>Demo</strong>
      <a target="_blank" href="https://github.com/Droces/easy-sites">Learn<br>more</a>
    </div>

    <ul class="appMode tabs">
      <li><a (click)="changeMode('edit')"
        [routerLink]="pageService.currentPage ? 'page/' + pageService.currentPage.path : ''"
        [attr.aria-selected]="state.mode === 'edit'">
        <i class="material-icons">edit</i></a>
      </li>
      <li><a (click)="changeMode('view')"
        [routerLink]="pageService.currentPage ? 'page/' + pageService.currentPage.path : ''"
        [attr.aria-selected]="state.mode === 'view'">
        <i class="material-icons">play_arrow</i></a>
      </li>
      <li><a routerLink="settings"
          [attr.disabled]="state.inDemoMode ? true : null">
        <i class="material-icons">settings</i></a>
      </li>
      <li><a routerLink="templates">
        Templates</a>
      </li>
    </ul>

    <div class="user">
      <i class="material-icons">person</i>
      <div class="name" *ngIf="state.userName; else anon">{{ state.userName }}</div>
      <ng-template #anon>
        <a target="_blank" class="anonymous"
          [attr.disabled]="state.inDemoMode ? true : null"
          [attr.href]="state.inDemoMode ? null : settings.backendBaseUrl + httpService.instance.backendLoginPagePath">
          Log in</a>
      </ng-template>

      <button (click)="toggleUserMenu()">
        <i class="material-icons">keyboard_arrow_down</i></button>
      <ul id="user-menu" class="menu" [attr.aria-hidden]="! userMenuOpen">
        <li><a routerLink="/users">Users</a></li>
        <li><a id="logout" (click)="logout()">Log out</a></li>
      </ul>
    </div>

    <div class="panels-buttons">
      <button (click)="openSidebar('pages')">
        <i class="material-icons">insert_drive_file</i>
        <span class="visuallyhidden">Pages panel</span>
      </button>
      <button (click)="openSidebar('style')">
        <i class="material-icons">brush</i>
        <span class="visuallyhidden">Style panel</span>
      </button>
    </div>

  </div>
</header>
<div id="main-and-sidebar" [attr.data-mode]="state.mode" [attr.data-font]="state.font.id">
  <router-outlet></router-outlet>

  <div class="aside-container" [attr.aria-expanded]="sidebarOpen">
    <aside>
      <ul role="tablist">
        <li role="presentation">
          <a role="tab" id="tab1"
            [attr.aria-selected]="tabSelected === 'pages'"
            href="{{ this.router.url.split('#')[0] }}#pages"
            (click)="openTab('pages')">
            Pages</a>
        </li>
        <li role="presentation">
          <a role="tab" id="tab2"
            [attr.aria-selected]="tabSelected === 'style'"
            href="{{ this.router.url.split('#')[0] }}#style"
            (click)="openTab('style')">
            Style</a>
        </li>
      </ul>

      <section role="tabpanel" id="pages" aria-labelledby="tab1"
        [attr.aria-selected]="tabSelected === 'pages'">
        <app-pages-list></app-pages-list>
      </section>

      <section role="tabpanel" id="style" aria-labelledby="tab2"
        [attr.aria-selected]="tabSelected === 'style'">
        <app-theme-selector></app-theme-selector>

        <hr>
        <p><button (click)="exportData()">
          <i class="material-icons">archive</i>
          Export data</button></p>
          <p id="saveState" class="subtle">{{ httpService.currentState }}</p>
      </section>
    </aside>
  </div>
</div>
