$header-height: 50px;
header {
  height: $header-height;

  & > [role="presentation"] {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 0 1 auto;
      height: $header-height;
      display: flex;
      align-items: center;
    }
  }
  .tabs li {
    height: $header-height;
    box-sizing: border-box;
  }
  .menu {
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 0.3em 0;
    margin: 0;
    background: black;
    display: none;

    &[aria-hidden="false"] {
      display: block;
    }
    li {
      display: block;
      margin: 0;

      a {
        display: block;
        padding: 0.3em 0.6em;
        cursor: pointer;

        &:hover,
        &:focus {
          background: #2d2d2d;
        }
      }
    }
  }
  button {
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }
}



.es-title {
  margin-top: 0;
  margin-bottom: 0;
}
.demo-badge {
  background: #b9054b; // purple-red
  padding: 0px 50px;
  box-sizing: border-box;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent #b9054b; // purple-red
  }
  &::before {
    border-width: $header-height 10px 0 0;
    right: 100%;
  }
  &::after {
    border-width: 0 0 $header-height 10px;
    left: 100%;
  }
  strong {
    margin-right: 2em;
    font-weight: 200;
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em 1em;
    box-sizing: border-box;
    font-size: 0.8em;

    &:hover,
    &:focus {
      background: rgba(black, 0.1);
    }
  }
}

#main-and-sidebar {
  height: calc(100vh - #{$header-height});
  flex-grow: 1;
  overflow: auto;
}

.user {
  position: relative;

  .name,
  .anonymous {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}