<header>
  <div role="presentation">
    <p class="es-title">Easy Sites</p>
    <ul class="appMode tabs">
      <li aria-selected="true"><i class="material-icons">edit</i></li>
      <li><i class="material-icons">play_arrow</i></li>
      <li><i class="material-icons">settings</i></li>
    </ul>
    <div class="user">{{ settings.currentUserName }}</div>
  </div>
</header>
<div id="main-and-sidebar">
  <router-outlet></router-outlet>
  <aside>
    <h2>Pages</h2>
    <app-pages-list></app-pages-list>

    <hr>
    <app-theme-selector></app-theme-selector>

    <hr>
    <p><button (click)="exportData()">
      <i class="material-icons">archive</i>
      Export data</button></p>
    <p id="saveState" class="subtle">{{ httpService.currentState }}</p>
  </aside>
</div>
