$header-height: 50px;
header {
  height: $header-height;

  & > [role="presentation"] {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 0 1 auto;
      height: $header-height;
      display: flex;
      align-items: center;
    }
  }
  .tabs li {
    height: $header-height;
    box-sizing: border-box;
  }
}
.es-title {
  margin-top: 0;
  margin-bottom: 0;
}

#main-and-sidebar {
  height: calc(100vh - #{$header-height});
  flex-grow: 1;
  overflow: auto;
}

aside {
  // border-left: solid 1px #dadada;
  border-top: solid 3px #1f272b;
  padding-left: 20px;
  padding-right: 20px;

  hr {
    border-color: #d7d7d7;
    border-width: 0 0 1px 0;
  }
}
