section {
  border-bottom: dotted 1px lightgrey;
  padding: 20px;
}
.groups {
  max-width: 800px;
  background: rgba(0, 0, 0, 0.07);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
