section {
  border-bottom: dotted 1px lightgrey;
  padding: 20px;

  &[data-colourStyle="default"] {
    background: white;
  }
  &[data-colourStyle="blue"] {
    background: #e8ecf5;
  }
}
.groups,
.groups-actions {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.groups {
  background: rgba(0, 0, 0, 0.07);
  padding: 20px;
  display: flex;

  & > * {
    flex: 1 1 auto;
  }
}

app-group + app-group {
  margin-left: 10px;
}
