$breakpoint: 800px;
section {
  position: relative;
  padding: 20px;
}
section > .column {
}
// .groups,
// .groups-actions {}
.groups {
  @media all and (min-width: $breakpoint) {
    display: flex;
  }

  & > * {
    flex: 1 1 auto;
  }
  [id="add_group"] {
    flex: 0 0 auto;
  }
}

app-group + app-group {
  margin-left: 10px;
}
