<ul class="pages">
  <li *ngFor="let page of pageService.pages"
      [class.selected]="page.id === pageService.currentPage.id">

    <div role="presentation">
      <button (click)="up(page)" class="icon move">
        <i class="material-icons">arrow_upward</i></button>
      <button (click)="down(page)" class="icon move">
        <i class="material-icons">arrow_downward</i></button>
      
      <a routerLink="/page/{{ page.path }}" [innerHTML]="page.title"
        routerLinkActive="active"></a>

      <button (click)="toggleMenu(page)" class="icon menu">
        <i class="material-icons">more_vert</i></button>
    </div>

    <div id="page-{{ page.id }}-menu" class="pageOptions"
        [attr.aria-hidden]="page.state.isListMenuOpen ? null : true">
      <div class="field path">
        <label>Path</label>
        <input type="text" name="page-{{ page.id }}-path"
          [(ngModel)]="page.path">
      </div>
      <div class="field path">
        <button (click)="removePage(page)" class="remove">
          Delete page
          <i class="icon material-icons">close</i></button>
      </div>
    </div>

  </li>
</ul>
<button (click)="addPage()">Add page</button>
