<div class="block image"
  [ngClass]="{'active': isActive}">

  <img *ngIf="block.path; else formGroup" src="{{ settings.backendBaseUrl }}/{{ block.path }}">
  <ng-template #formGroup>
    <div *ngIf="this.state.mode == 'edit'" class="form-group">
      <label for="file">Choose File</label>
      <input
        id="file"
        type="file"
        (change)="handleFileInput($event.target.files)">
    </div>
  </ng-template>

  <div *ngIf="blocksInGroup > 1">
    <button (click)="up()" class="icon move up"
      (mouseenter)="toggleActive(true)" (mouseleave)="toggleActive(false)">
      <i class="material-icons">arrow_upward</i></button>
    <button (click)="down()" class="icon move down"
      (mouseenter)="toggleActive(true)" (mouseleave)="toggleActive(false)">
      <i class="material-icons">arrow_downward</i></button>
  </div>
  <button class="remove icon"
    (click)="removeSelf()"
    (mouseenter)="toggleActive(true)"
    (mouseleave)="toggleActive(false)">
    <i class="material-icons">close</i></button>
</div>
