<div class="block image"
  [ngClass]="{'active': isActive}">

  <div class="form-group">
    <img *ngIf="block.path; else file" src="{{ settings.backendBaseUrl }}{{ block.path }}">
    <ng-template #file>
      <label for="file">Choose File</label>
      <input
        id="file"
        type="file"
        (change)="handleFileInput($event.target.files)">
    </ng-template>
  </div>

  <div *ngIf="blocksInGroup > 1">
    <button (click)="up()" class="icon"><i class="material-icons">arrow_upward</i></button>
    <button (click)="down()" class="icon"><i class="material-icons">arrow_downward</i></button>
  </div>
  <button class="remove icon"
    (click)="removeSelf()"
    (mouseenter)="toggleActive(true)"
    (mouseleave)="toggleActive(false)">
    <i class="material-icons">close</i></button>
</div>
