nav {
  display: flex;
  justify-content: space-between;

  & > * {
    flex: 0 1 auto;
  }
}
nav ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin: 0;
}
.siteName {
  display: flex;
  align-items: center;
}
